/* ESTILOS GENERALES*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; /* Quita los puntos de los enlaces*/
}
.box p, .box h2, .box h3, .box ul{
    margin-top: 5px;
    margin-bottom: 5px;
}
.box ul, .box ol{
    margin-left: 20px;
    margin-bottom: 10px;
}
.clearfix{
    clear: both;
    float: none;
}
body{
    background-color: rgb(166 212 245);
}
/*Estilos Cabezera*/
header{
    width: 1212px;
    height: 140px;
    background-color: #214571;
    margin: 0 auto;
    box-shadow: 15px 22px 22px #1e5f7e;
}
#logotipo{
    width: 32%;
    height: 140px;
    margin: 0 auto;
    padding-top: -1px;
}
#logotipo img{
    display: block;/*Deja manipular como quiera*/
    width: 251px;
    float: left;/*Para colocarlo a la izquierda*/
    margin-top: 18px;
}
#logotipo h1{
    display: block;/*Deja manipular como quiera*/
    float: left;
    margin-top: 45px;
    margin-left: 20px;
    letter-spacing: 2;
    font-weight: lighter;
    color: #2ba977;
}


/* Estilos barra de navegacion*/
nav{
    width: 1250px;
    height: 40px;
    margin: 0 auto;
    background-color :#aac6de;
    border: 1px solid #84a5ef;
    box-shadow: 15px 22px 22px #1e5f7e;
    font-size: 18px;
}
nav > ul{
    list-style: none;
    text-decoration: none;
}
nav > ul > li{
    line-height: 40px;
    float: left;
}
nav > ul > li > a{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color:#5269bf;
}
nav > ul > li > a:hover{
    background: #11669e;
    color: #01c4ff;
    box-shadow: 0px 0px 20px #1e5f7e;
    transition: all 300ms;
}
/* Menu desplegable */
nav > ul > li > ul{
    display:none;
    position: absolute;
    color: #aac6de;
    text-align: left;
    width: 117px;
    box-shadow: 0px 2px 2px #aac6de;
}
nav > ul > li:hover > ul{
    display: block;
    color: #aac6de;
    margin: 0px;
    list-style: none;
}
nav > ul > li:hover > ul > li{
    background: #aac6de;
    border-bottom: 1px solid  #98b3ec;
    padding: 8px;
    line-height: 25px;
    font-size: 12px;
    transition: all 1300ms;
}
nav > ul > li:hover > ul > li a{
    color: #5269bf;
    transition: all 300ms;
}
nav > ul > li:hover > ul > li:hover{
    background: #bad5e9;
}
nav > ul > li:hover > ul > li:hover a{
    display: block;
    color: rgb(0, 86, 136);
    text-align: center;
}
/* Fin de menu desplegable */

.barra{
    width: 1250px;
    margin: 0 auto;
    
}

.esquina-izquierda{
    display: block;
    border-left: 29px solid transparent;
    border-top: 10px solid #3e5b75;
    float: left;
}

.esquina-derecha{
    display: block;
    border-right: 29px solid transparent;
    border-top: 10px solid #3e5b75;
    float: right;
}

.relleno-barra{
    display: block;
    width: 1192px;
    background: #3e5b75;
    height: 10px;
    float: left;
}

/* estilos contenido central */
#content{
    width: 1212px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 50px;
}
.box{
    background: rgb(120 182 191);
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #7685ef;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #1e5f7e;
    margin: 0 auto;
}
.box .image{
    width: 45%;
    float: left;
    margin: 20px;
    border: 2px solid rgb(73, 73, 112);
}
.box .image img{
    width: 100%;
}
.box a{
    color:#214571;
    transition: all 300ms;
}
.box a:hover{
    color: rgb(24, 136, 93);
}
.box form {
    width: 40%;
}
.box form input,
.box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
}
.box form input[type="text"],
.box form input[type="email"],
.box form input[type="password"],
.box form textarea,
.box form select{
    width: 100%;
    margin-bottom: 10px;
}
.box form select{
    width: 100px;
    padding: 5px;
}
.box form textarea{
    width: 466px;
}
.box form label{
    width: 100%;
}
/* .labelti{
    width: 90%;
} */



.box form input[type='submit'],
.box form input[type='button'],
.box form button{
    padding: 10px;
    margin-top: 5px;
    background: #9ed671;
    border: 1px solid black;
    color:#128054;
    transition: 500ms all;
}
.box form input[type='submit']:hover,
.box form input[type='button']:hover,
.box form button:hover{
    cursor: pointer;
    background: #63ce0b;
    color:#03665e;
    transition: 500ms all;
}

.box img{
    width: 80px;
}
.rojo{
    color: red;
    text-shadow: 0px 0px 2px rgb(247, 2, 2);
}
.message,
.alert-success,
.alert{
    padding: 20px;
    border: 1px solid #012c03;
    background: #9ed671;
    color: #03665e;
    width: 96%;
    text-align: center;
    margin-bottom: 10px;
}
.alert-warning{
    background: #dd6767;
    color: #5f0303;
    border: 1px solid #ffa9a9;
}
/* .publicado{
    border: 4px solid #012c03;
    border-radius: 19px;
    padding: 7px;
    margin-left: 354px;
    margin-bottom: 100px;
    color: #127b1b;
    background:#bbf3ba;
    text-shadow: 0px 0px 1px rgb(12, 58, 0);
    box-shadow: 0px 0px 10px rgb(12, 58, 0);
}
.privado{
    border: 4px solid #012c03;
    border-radius: 19px;
    margin: 359px;
    padding: 7px;
    color:#982929;
    background: #efd3e3;
    text-shadow: 0px 0px 1px rgb(44, 3, 3);
    box-shadow: 0px 0px 10px rgb(44, 3, 3);
} */
.title{
    color:#0b6177 ;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 35px;
    font-size: 45px;
}
.date{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #b1afda;
}
.content{
    line-height: 25px;
}
.article-item{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    /* border: 1px solid black; */
    border-bottom: 1px solid#5421cc;
    clear: both;
}
.article-item .image{
    width: 200px;
    height: 200px;
    float: left;
    overflow: hidden;
}
.article-item .image img{
    height: 200px;
    width: 200px;
}
.article-item h2{
    display: block;
    font-size: 25px;
    color: #0b741c;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article-item .data{
    font-variant: small-caps;
    float: left;
    padding: 15px;
    padding-top: 0px;
    
}
.article-item .data .titu{
    text-shadow: 32px 10px 16px rgb(14, 94, 14);
}
.article-item span.date{
    display: block;
    font-size: 15px;
    color:#0b741c9e;
    margin-top: 22px;
    margin-bottom: 6px;
}
.btn{
    padding: 10px;
    background: tomato;
    color: white !important;
    border: 1px solid black;
    display: block;
    margin-top: 20px;
    width: 66px;
    text-align: center;
}
.btn-warning{
    background: #8d0c0c;
}
footer{
    width: 1250px;
    background-color: #214571;
    border: 1px solid #043979;
    color: #5278ca;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px #1e5f7e;
}



/*   Mis estilos */

.txtazul{
    color:#2a999e
}
.txtrojo{
    color:#be1d1d
}
.fas fa-exclamation-triangle{
    margin-left: 250px;
}

/*****************BOX-ERROR ********************/
.box-error{
    width: 1150px;
    height: 169px;
    /* border: 1px solid rgb(0, 0, 0); */
}
.box-error h1{
    font-size: 125px;
    color:#be1d1d;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
hr {
    height: 5px;
    width: 100%;
    background-color:#214571;
    float: right;
}
/***************** BOX-ERROR 2 ********************/
.box-error2{
    width: 1150px;
    height: 55px;
    /* border: 1px solid rgb(0, 0, 0); */
    text-align: center;
}
.box-error2 span{
    color: #0b6177;
    font-size: 45px;
}
/* BOX-ERROR 3 */
.box-error3{
    width: 1150px;
    height: 166px;
    /* border: 1px solid rgb(0, 0, 0); */
    /* text-align: center; */
}
.icono-box3{
    float: left;
}

.box-error4{
    width: 185px;
    height: 165px;
    /* border: 1px solid rgb(0, 0, 0); */
    float: left;
}
.box-error5{
    width: 960px;
    height: 165px;
    /* border: 1px solid rgb(0, 0, 0); */
    float: left;
}
.lista-errores{
    font-size: 20px;
    color: #0b6177;
}
.lista-errores li{
    margin: 10px;
    padding-left: 15px;
}
.box-error6{
    width: 1150px;
    height: 96px;
    /* border: 1px solid rgb(0, 0, 0); */
    float: left;
    text-align: center;
}
/* *******************Fin de BOX-EEROR ********************/
