{% extends 'layout.html' %}

{% block title %}
    Nuevo Coche
    {{ super() }}
{% endblock title %}

{% block content %}
    {% if coche %}
        <h1>Editar nuevo coche: {{coche.1}} {{coche.2}}</h1>
        <form action="" method="POST" >
        <label for="marca">Marca</label>
        <input type="text" name="marca" value="{{coche.1}}"/>

        <label for="modelo">Modelo</label>
        <input type="text" name="modelo" value="{{coche.2}}"/>

        <label for="precio">Precio</label>
        <input type="number" name="precio" value="{{coche.3}}"/>
        
        <label for="ciudad">Ciudad</label>
        <input type="text" name="ciudad" value="{{coche.4}}"/>

        <input type="submit" value="Editar">
    </form>
    {% else %}
        <h1>Crear nuevo coche</h1>
        <form action="" method="POST" >
        <label for="marca">Marca</label>
        <input type="text" name="marca" />

        <label for="modelo">Modelo</label>
        <input type="text" name="modelo" />

        <label for="precio">Precio</label>
        <input type="number" name="precio" />
        
        <label for="ciudad">Ciudad</label>
        <input type="text" name="ciudad" />

        <input type="submit" value="Crear">
    </form>
    {% endif %}

    

{% endblock content %}