{% extends 'layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <h1>{{nombre}} {{apellidos}}</h1>
{% endblock content %}












html=""
    if nombre and apellidos:
        html+= "<p>El nombre completo es :</p>"
        html+=f"<h3>{nombre} {apellidos}</h3>"
    elif nombre:
        html+= "<p>El nombre es :</p>"
        html+=f"<h3>{nombre}</h3>"
    elif  nombre!=True and apellidos!=True:
        html+= "<p>No hay datos :</p>"

    return HttpResponse(layout+f"""
            <h1>Contacto </h1>
    """+html)