{% extends 'layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    {% comment 'Comentario sobre el codigo' %}
        <p>Esto tambien esta comentado</p>
    {% endcomment %}
    {% load static %}
    {{block.super}}
    <h1>{{title}}</h1>
    <p>{{mi_variable}}</p>

    {% if nombre and nombre == 'Andres'%}
        <p>Mi nombre es : {{nombre}}</p>
    {% else %}
        <p>Mi nombre no existe cobarde</p>
    {% endif %}

    <ul>
        {% for lenguaje in lenguajes %}
            <li>{{lenguaje}}</li>
        {% endfor %}
    </ul>

    <br/>
    <img src="{% static 'images/django.ico' %}"/>
{% endblock %}