<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} 
        {% endblock %} 
        | Django
    </title>
    {% load filters %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>

<body>
    <!-- Cabezera de la Pagina -->
    <header>
        <div id="logotipo">
            <!--Logo de Django-->
            <img src="{% static 'images/logo.png' %}"/>
            <h1>Sitio Web con Django</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'articulos' %}">Articulos</a>
            </li>
            <li>
                <a href="{% url 'create_full' %}">Crear Articulos</a>
            </li>
            <li>
                <a href="{% url 'hola_mundo' %}">Hola Mundo</a>
            </li>
            <li>
                <a href="{% url 'pagina' %}">Pagina</a>
            </li>
            <li>
                <a href="{% url 'contacto' 'Andres' 'Bernaola Oli' %}">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
        <div class="box">
            <h2 class="title">Contenido</h2>
            <img src="{% static 'images/logo.png' %}"/>
            {% block content %}
                <!-- <strong>Contenido del Bloque original</strong> -->
            {% endblock %}
        </div>
    </div>

    <footer>
        Master en Python con Django &copy; Andres Bernaola - {% now "d/m/Y" %}
    </footer>    
</body>

</html>