{% extends 'layouts/layout.html' %}

{% block title %}Error 404{% endblock title %}

{% block content %}
    <div class="box-error">
        <hr>
        <h1 class="title2">
            <i class="fas fa-exclamation-triangle fa-sm"  style="background:#b5f5ff" ></i>
            Error 404
        </h1>
        <hr>
    </div>


    <div class="box-error2">
        <span>Fallos que pueden causar Errores</span>
    </div>


    <div class="box-error3" >
        <div class="box-error4" >
            <i class="fas fa-arrow-alt-circle-right fa-9x" style="background:#b5f5ff" ></i>
        </div>
        <div class="box-error5" >
            <ul class="lista-errores">
                <li>Puede ser que se este intentando conectar a una <strong>Categoria</strong> que no existe.</li>
                <li>
                    Se este intentando conectar a un <strong>Articulo</strong> que no existe.
                </li>
                <li>Otros Errores de conexion.</li>
                <li>Si el fallo persiste ponerse en contacto con el Administrador en seccion de contactos.</li>
              </ul>
        </div>
        <div class="box-error6" >
            <i class="fab fa-python fa-6x"></i>
        </div>
    </div>

{% endblock %}